<template>
  <div>
    <v-carousel
      :continuous="false"
      :show-arrows="true"
      hide-delimiter-background
      delimiter-icon="mdi-minus"
    >
      <v-carousel-item>
        <img src="~/assets/images/story1.jpg" alt="" />
        <div class="text-h3 story-block"><span>where</span> is Matt?</div>
      </v-carousel-item>
      <v-carousel-item>
        <img src="~/assets/images/story2.jpg" alt="" />
        <div class="text-h3 story-block"><span>help</span> us find Matt.</div>
      </v-carousel-item>
      <v-carousel-item>
        <img src="~/assets/images/story3.jpg" alt="" />
        <div class="text-h3 story-block">
          I <span>saw</span> him on <span>Monday</span>.
        </div>
      </v-carousel-item>
      <v-carousel-item>
        <img src="~/assets/images/story4.jpg" alt="" />
        <div class="text-h3 story-block">Can Matt <span>play</span>?</div>
      </v-carousel-item>
      <v-carousel-item>
        <img src="~/assets/images/story5.jpg" alt="" />
        <div class="text-h3 story-block">Matt is <span>our</span> pal.</div>
      </v-carousel-item>
      <v-carousel-item>
        <img src="~/assets/images/story6.jpg" alt="" />
        <div class="text-h3 story-block">
          Sam <span>saw</span> him <span>too</span>.
        </div>
      </v-carousel-item>
      <v-carousel-item>
        <img src="~/assets/images/story7.jpg" alt="" />
        <div class="text-h3 story-block">what did Matt <span>say</span>?</div>
      </v-carousel-item>
      <v-carousel-item>
        <img src="~/assets/images/story8.jpg" alt="" />
        <div class="text-h3 story-block">
          Matt went <span>away</span> on <span>Sunday</span>.
        </div>
      </v-carousel-item>
      <v-carousel-item>
        <img src="~/assets/images/story9.jpg" alt="" />
        <div class="text-h3 story-block">Matt is <span>so</span> cool.</div>
      </v-carousel-item>
      <v-carousel-item>
        <img src="~/assets/images/story10.jpg" alt="" />
        <div class="text-h3 story-block">
          Matt will be here <span>soon</span> .
        </div>
      </v-carousel-item>
      <v-carousel-item>
        <img src="~/assets/images/story11.jpg" alt="" />
        <div class="text-h3 story-block">
          Matt is our <span>new</span> friend!
        </div>
      </v-carousel-item>
    </v-carousel>
  </div>
</template>

<script>
export default {}
</script>

<style scoped>
.story-block {
  position: absolute;
  bottom: 0px;
  width: 100%;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
  padding: 5px;
  z-index: 100;
}
.story-block span {
  font-weight: bold;
  display: inline-block;
  background: yellow;
  color: #333;
}
</style>