<template>
  <div class="sentences">
    <h3>Unit 3 Week 3 Frequently Used Words</h3>

    <!-- Image of a guy catching a fish -->
    <img src="~/assets/images/u4w3-caught.jpg" alt="Dad caught a big fish" />
    <p>Dad <span class="highlight">caught</span> a big fish.</p>

    <img
      src="~/assets/images/u4w3-flew.jpg"
      alt="Mom flew a kite in the yard"
    />
    <p>Mom <span class="highlight">flew</span> a kite in the yard.</p>

    <!-- do the same thing for the word "know" -->
    <img src="~/assets/images/u4w3-know.jpg" alt="I know how to ride a bike" />
    <p>I <span class="highlight">know</span> how to ride a bike.</p>

    <!-- do the same thing for the word "laugh" -->
    <img src="~/assets/images/u4w3-laugh.jpg" alt="We laugh at Dad's jokes." />
    <p>We <span class="highlight">laugh</span> at Dad's jokes.</p>

    <!-- do the same thing for the word "listen" -->
    <img
      src="~/assets/images/u4w3-listen.jpg"
      alt="I listen to music in my room."
    />
    <p>I <span class="highlight">listen</span> to music in my room.</p>

    <!-- do the same thing for the word "were" -->
    <img
      src="~/assets/images/u4w3-were.jpg"
      alt="We were at the lake yesterday."
    />
    <p>We <span class="highlight">were</span> at the lake yesterday.</p>
  </div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
.highlight {
  background: yellow;
  display: inline-block;
}
.sentences p {
  font-size: 1.4em;
  margin-bottom: 40px;
}
</style>
