<template>
  <div>
    <h1 class="my-6 text-uppercase text-center page-title">
      {{ categoryName | removeUnderscores }} Sight Words
    </h1>

    <v-alert v-if="error" type="error">{{ errorMessage }}</v-alert>
    <div v-else>
      <v-row justify="center" align="center">
        <v-col v-if="words" cols="12" sm="8">
          <div v-for="(question, index) in currentWords">
            <WordQuiz
              v-if="step === index++"
              :answers="question.answers"
              :audio="question.audio"
              :successimage="question.successimage"
              @saveandnext="saveAndNext"
            />
          </div>
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script>
export default {
  async asyncData({ params, app }) {
    try {
      if (params.category) {
        const sightwords = await app.$axios.$get(
          `${process.env.baseUrl}/new-data.json`
        )
        console.log(sightwords)
        // const category = sightwords.find(category => category.name === params.category)
        return {
          categoryName: params.category.replace(/%20/g, ' '),
          words: sightwords,
          loading: false,
          error: false,
        }
      } else {
        return {
          error: true,
          errorMessage: 'No category selected.',
          loading: false,
        }
      }
    } catch (error) {
      console.log(error)
      return {
        error: true,
        errorMessage: 'Something went wrong with the page load.',
        loading: false,
      }
    }
  },
  filters: {
    removeUnderscores(value) {
      return value.replace(/_/g, ' ')
    },
  },
  data: () => ({
    step: 0,
  }),
  computed: {
    currentWords() {
      const catName = this.categoryName
      const theseWords = this.words.categories
      console.log(theseWords[catName])
      return theseWords[catName]
    },
  },
  methods: {
    saveAndNext() {
      this.step++
    },
  },
}
</script>

<style lang="scss" scoped></style>
