<template>
  <header class="site-header pa-5">
    <v-row class="align-center">
      <v-col cols="8">
        <h2 class="mb-0">
          <a href="/" class="logo"><span>Genevieve's</span> Sight Words</a>
        </h2>
      </v-col>
      <v-col cols="4">
        <div class="text-right">Score: {{ $store.state.progress }}</div>
      </v-col>
    </v-row>
  </header>
</template>

<script>
export default {}
</script>

<style scoped>
.site-header {
  border-bottom: 2px solid #eee;
  margin-bottom: 20px;
}
.logo {
  text-decoration: none;
  line-height: 1;
}
.logo span {
  display: block;
  text-transform: uppercase;
  font-size: 13px;
}
</style>