<template>
  <div>
    <v-row>
      <v-col cols="12">
        <p class="text-center">
          <button class="button" @click.stop="playAudio()">
            <v-icon dark> mdi-play </v-icon>Play
          </button>
        </p>
      </v-col>

      <v-col cols="12" sm="2">
        <!-- <audio class="d-none" controls id="audioFile" ref="audioFile">
          <source src="demo.ogg" type="audio/ogg">
          <source :src="audio" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio> -->
      </v-col>
      <v-col cols="12" sm="8">
        <div class="choices" v-if="questionsLoaded">
          <v-radio-group v-model="answerChoice">
            <v-radio
              v-for="(answer, index) in answers"
              :key="index"
              :label="`${answer.title}`"
              :value="answer"
              color="pink"
              @click="checkAnswer(answer)"
            ></v-radio>
          </v-radio-group>
        </div>
      </v-col>
    </v-row>

    <v-dialog v-model="successDialog" width="500">
      <v-card class="pa-5">
        <h2>{{ currentCorrectWord }}</h2>
        <img class="success-image" :src="`${successimage}`" alt="" />

        <div class="pa-6 mt-6 text-center">
          <v-btn @click="nextQuestion()" color="primary" elevation="0">
            <v-icon>mdi-arrow-right</v-icon>
          </v-btn>
        </div>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="errorDialog"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
    >
      <v-sheet height="100%" tile>
        <v-btn
          class="close-dialog"
          fab
          large
          outlined
          elevation="0"
          color="red"
          @click="errorDialog = false"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
        <v-row class="fill-height" align="center" justify="center">
          <v-col class="12">
            <div class="text-center huge">
              <v-icon color="red">mdi-close-outline</v-icon>
            </div>

            <div class="text-center incorrecto">
              <p>
                This word is: <span>{{ currentIncorrectWord }}</span>
              </p>
            </div>
          </v-col>
        </v-row>
      </v-sheet>
      <!-- <v-card>
        
      </v-card> -->
    </v-dialog>

    <v-snackbar v-model="snackbar" color="red" top>
      <h2 class="text-h3 white--text text-center">
        😫 {{ wrongAnswerMessage }}
      </h2>
    </v-snackbar>
  </div>
</template>

<script>
export default {
  props: {
    answers: {
      type: Array,
      required: true,
    },
    audio: {
      type: String,
      required: true,
    },
    successimage: {
      type: String,
      required: true,
    },
  },
  data: () => ({
    loading: true,
    error: '',
    snackbar: false,
    errorMessage: '',
    successMessage: '',
    wrongAnswerMessage: '',
    audioFile: '',
    currentCorrectWord: '',
    currentIncorrectWord: '',
    // answers: [
    //   {title: 'look', correct: true},
    //   {title: 'like', correct: false},
    //   {title: 'home', correct: false},
    // ],
    answerChoice: '',
    questionsLoaded: false,
    successDialog: false,
    errorDialog: false,
  }),
  methods: {
    playAudio(audioFile) {
      if (audioFile) {
        const aFile = new Audio(audioFile)
        console.log(aFile)
        aFile.play()
        this.questionsLoaded = true
      } else {
        const aFile = new Audio(this.audio)
        console.log(aFile)
        aFile.play()
        this.questionsLoaded = true
      }
    },
    checkAnswer(answer) {
      if (answer.correct) {
        this.snackbar = false
        this.playAudio('/correct.mp3')
        // Show a success message and Go to the next question
        this.successMessage = 'Correct!'
        this.currentCorrectWord = answer.word
        this.successDialog = true
        this.wrongAnswerMessage = ''
        this.$store.commit('increment')
      } else {
        this.playAudio('/incorrect.mp3')
        this.errorDialog = true
        this.currentIncorrectWord = answer.title
        // this.snackbar = true
        // this.wrongAnswerMessage = 'Wrong!'
        this.answerChoice = ''
      }
    },
    nextQuestion() {
      this.successDialog = false
      this.questionsLoaded = false
      this.$emit('saveandnext')
    },
  },
}
</script>

<style lang="scss" scoped>
.v-input--selection-controls .v-radio {
  padding: 20px;
  border: 2px solid;
  border-radius: 8px;
  margin-bottom: 25px !important;
  /* font-size: 30px; */
}
.huge i {
  font-size: 7rem;
}
.incorrecto {
  font-size: 4rem;
  font-weight: lighter;
  font-family: sans-serif;
}
.incorrecto span {
  font-weight: bold;
  display: block;
}
.close-dialog {
  position: absolute;
  top: 10px;
  right: 10px;
}
</style>