@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');

img {
  max-width: 100%;
}
.button {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  align-items: center;
  /* font: 500 17px/25px din-round,sans-serif; */
  font-size: 15px;
  font-weight: bold;
  justify-content: center;
  letter-spacing: 0.8px;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  white-space: nowrap;
  background-color: #888888;
  outline: none;
  /* background: none; */
  border: 0 solid transparent;
  border-bottom: 4px solid #777877;
  border-radius: 12px;
  color: #fff;
  padding: 15.5px 16px;
  transition: all ease-out 0.2s;
  min-width: 170px;
}
.button.outlined {
  background: transparent;
}
h1.page-title {
  padding: 30px;
  border-radius: 12px;
  text-shadow: 3px 3px 0px #ffffff;
  color: #222;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}
h1.page-title.green {
  color: #fff;
  text-shadow: 3px 3px 0px #297a2b;
}
h1.page-title.yellow {
  text-shadow: 3px 3px 0px #bbac21;
}
.v-btn--outlined {
  border-width: 2px 2px 4px;
}
.link-list {
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.link-list a {
  color: #fff !important;
  text-decoration: none;
  font-size: 1.2em;
  padding: 20px 15px;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
  width: 100%;
}

@media screen and (min-width: 600px) {
  .link-list a {
    width: 48%;
  }
}

@media screen and (min-width: 768px) {
  .link-list a {
    width: 25%;
  }
}

.v-input .v-label {
  font-size: 43px !important;
  font-weight: bold;
}
.v-application--is-ltr .v-input--selection-controls__input {
  visibility: hidden;
  width: 0px;
  margin: 0;
}
body .v-input--selection-controls .v-radio > .v-label {
  text-align: center;
  display: block;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.animated,
.v-input--selection-controls .v-radio {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp,
.v-input--selection-controls .v-radio {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}
.success-image {
  display: block;
  margin: 0 auto;
}
