<template>
  <div>
    <v-row justify="center" align="center">
      <v-col cols="12">
        <h1>Word Recognition Quizes</h1>
        <h2 class="text-center text-uppercase mb-3">Word Quiz</h2>
        <div class="link-list">
          <a
            v-for="(cat, name, index) in sightwords.categories"
            :key="index"
            :class="['button']"
            :style="`background-color:${escalatingColor(index)}`"
            :href="`/quiz/${name}`"
            >{{ name | removeUnderscores }} &rarr;</a
          >
        </div>

        <h2 class="text-center text-uppercase mt-6 mb-3">All Words</h2>
        <div class="link-list">
          <a
            v-for="(cat, name, index) in sightwords.categories"
            :key="name"
            :class="['button']"
            :style="`background-color:${escalatingColor(index)}`"
            :href="`/wordlist/${name}`"
            >{{ name | removeUnderscores }} &rarr;</a
          >
        </div>

        <h3 class="text-center text-uppercase mt-6">
          High Frequency Word Stories
        </h3>
        <div class="link-list">
          <a :class="['button', 'outlined', 'pink']" :href="`/stories/`"
            >Pink Words</a
          >
          <a
            :class="['button', 'outlined', 'blue']"
            :href="`/stories/unit4week3`"
            >Unit 4 Week 3</a
          >
        </div>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: 'IndexPage',
  async asyncData({ params, app }) {
    try {
      const sightwords = await app.$axios.$get(
        `${process.env.baseUrl}/new-data.json`
      )
      console.log(sightwords)
      return {
        sightwords,
        loading: false,
        error: false,
      }
    } catch (error) {
      console.log(error)
      return {
        error: true,
        errorMessage: 'Something went wrong with the page load.',
        loading: false,
      }
    }
  },
  filters: {
    removeUnderscores(value) {
      return value.replace(/_/g, ' ')
    },
  },
  data: () => ({
    step: 1,
  }),
  methods: {
    saveAndNext() {
      this.step++
    },
    escalatingColor(number) {
      // Start with a blue color, then take the hue and add 10 degrees for each number
      // This will give us a nice gradient of colors
      const hue = (number * 3) % 360
      return `hsl(${hue}, 90%, 40%)`
    },
  },
}
</script>
