<template>
  <div>
    <h1 :class="['page-title', categoryName]">
      {{ categoryName | removeUnderscores }} Sight Words
    </h1>

    <v-alert v-if="error" type="error">{{ errorMessage }}</v-alert>
    <div v-else>
      <v-row justify="center" align="center">
        <v-col cols="12" sm="4">
          <ul class="word-items">
            <li v-for="(word, index) in currentWords" :key="index">
              <span class="text-h4">{{ word.word }}</span>
            </li>
          </ul>
        </v-col>
        <v-col v-if="words" cols="12" sm="8">
          <v-carousel
            :continuous="false"
            :cycle="cycle"
            :show-arrows="true"
            hide-delimiter-background
            delimiter-icon="mdi-minus"
            height="400"
          >
            <v-carousel-item v-for="(slide, i) in currentWords" :key="i">
              <v-sheet height="100%" tile>
                <v-row class="fill-height" align="center" justify="center">
                  <div class="text-h1">
                    {{ slide.word }}
                  </div>
                  <div class="text-center" style="width: 100%">
                    <v-btn
                      fab
                      large
                      @click.stop="playWordAudio(slide.wordaudio)"
                    >
                      <v-icon>mdi-motion-play-outline</v-icon>
                    </v-btn>
                  </div>
                </v-row>
              </v-sheet>
            </v-carousel-item>
          </v-carousel>
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script>
export default {
  async asyncData({ params, app }) {
    try {
      if (params.category) {
        const sightwords = await app.$axios.$get(
          `${process.env.baseUrl}/new-data.json`
        )
        console.log(sightwords)
        // const category = sightwords.find(category => category.name === params.category)
        // Remove %20 from the category name
        // const category = sightwords.find(category => category.name === params.category.replace(/%20/g, ' '))
        return {
          categoryName: params.category.replace(/%20/g, ' '),
          words: sightwords,
          loading: false,
          error: false,
        }
      } else {
        return {
          error: true,
          errorMessage: 'No category selected.',
          loading: false,
        }
      }
    } catch (error) {
      console.log(error)
      return {
        error: true,
        errorMessage: 'Something went wrong with the page load.',
        loading: false,
      }
    }
  },
  filters: {
    removeUnderscores(value) {
      return value.replace(/_/g, ' ')
    },
  },
  data: () => ({
    step: 0,
    cycle: false,
  }),
  computed: {
    currentWords() {
      const catName = this.categoryName
      const theseWords = this.words.categories
      console.log(theseWords[catName])
      return theseWords[catName]
    },
  },
  methods: {
    saveAndNext() {
      this.step++
    },
    playWordAudio(audioFile) {
      if (audioFile) {
        const aFile = new Audio(audioFile)
        console.log(aFile)
        aFile.play()
      } else {
        const aFile = new Audio(this.audio)
        console.log(aFile)
        aFile.play()
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.wordlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.wordlist > div {
  margin: 0.5rem;
  padding: 0.5rem;
}
.wordlist a {
  display: block;
  font-size: 2em;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 12px;
  border: 2px solid #ccc;
  border-bottom-width: 4px;
  background: #fff;
}
.word-items {
  list-style: none;
  padding: 0;
}
.word-items li {
  padding: 5px 0;
}
</style>
